<div id="<%= dom_id user %>">
  <p>
    <strong>First name:</strong>
    <%= user.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= user.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Postal code:</strong>
    <%= user.postal_code %>
  </p>

  <p>
    <strong>Password digest:</strong>
    <%= user.password_digest %>
  </p>

  <p>
    <strong>Recovery password digest:</strong>
    <%= user.recovery_password_digest %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= user.description %>
  </p>

  <p>
    <strong>Photo url:</strong>
    <%= user.photo_url %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= user.gender %>
  </p>

</div>
