<div id="<%= dom_id reservation %>">
  <p>
    <strong>Start time:</strong>
    <%= reservation.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= reservation.end_time %>
  </p>

  <p>
    <strong>Num of children:</strong>
    <%= reservation.num_of_children %>
  </p>

  <p>
    <strong>City:</strong>
    <%= reservation.city %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= reservation.street %>
  </p>

  <p>
    <strong>Post code:</strong>
    <%= reservation.post_code %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= reservation.status %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= reservation.cost %>
  </p>

  <p>
    <strong>Stripe charge:</strong>
    <%= reservation.stripe_charge_id %>
  </p>

  <p>
    <strong>Caregiver:</strong>
    <%= reservation.caregiver_id %>
  </p>

  <p>
    <strong>Parent:</strong>
    <%= reservation.parent_id %>
  </p>

</div>
