<div id="<%= dom_id review %>">
  <p>
    <strong>Rating:</strong>
    <%= review.rating %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= review.message %>
  </p>

  <p>
    <strong>Reservation:</strong>
    <%= review.reservation_id %>
  </p>

  <p>
    <strong>Reviewer:</strong>
    <%= review.reviewer_id %>
  </p>

</div>
