<!DOCTYPE html>
<html>
  <head>
    <title>Carebearers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id="hero">
      <h1>Carebearers</h1>
      <p>It takes a village</p>
    </div>
    <ul id="top_nav">
      <li><a>Parents</a></li>
      <li><a>Caregivers</a></li>
      <li><a>Log In</a></li>
      <li><a href="/users/new">Sign Up</a></li>
    </ul>
    <%= yield %>
  </body>
</html>
